# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [3]:
import numpy as np
import pandas as pd

# Challenge 1 - Iterators, Generators and `yield`. 

In iterator in Python is an object that represents a stream of data. However, iterators contain a countable number of values. We traverse through the iterator and return one value at a time. All iterators support a `next` function that allows us to traverse through the iterator. We can create an iterator using the `iter` function that comes with the base package of Python. Below is an example of an iterator.

In [ ]:
# We first define our iterator:

iterator = iter([1,2,3])

# We can now iterate through the object using the next function

print(next(iterator))

In [ ]:
# We continue to iterate through the iterator.

print(next(iterator))

In [ ]:
print(next(iterator))

In [ ]:
# After we have iterated through all elements, we will get a StopIteration Error

print(next(iterator))

In [ ]:
# We can also iterate through an iterator using a for loop like this:
# Note: we cannot go back directly in an iterator once we have traversed through the elements. 
# This is why we are redefining the iterator below

iterator = iter([1,2,3])

for i in iterator:
    print(i)

In the cell below, write a function that takes an iterator and returns the first element in the iterator and returns the first element in the iterator that is divisible by 2. Assume that all iterators contain only numeric data. If we have not found a single element that is divisible by 2, return zero.

In [ ]:
iterator = iter([1,2,3])
def divisible2(iterator):
    for i in iterator:
        if i % 2 == 0:
            return i
evenum=divisible2(iterator)
print(evenum)

        
    # This function takes an iterable and returns the first element that is divisible by 2 and zero otherwise
    # Input: Iterable
    # Output: Integer
    
    # Sample Input: iter([1,2,3])
    # Sample Output: 2
    
    # Your code here:

### Generators

It is quite difficult to create your own iterator since you would have to implement a `next` function. Generators are functions that enable us to create iterators. The difference between a function and a generator is that instead of using `return`, we use `yield`. For example, below we have a function that returns an iterator containing the numbers 0 through n:

In [ ]:
def firstn(n):
     number = 0
     while number < n:
         yield number
         number = number + 1

If we pass 5 to the function, we will see that we have a iterator containing the numbers 0 through 4.

In [ ]:
iterator = firstn(5)

for i in iterator:
    print(i)

In the cell below, create a generator that takes a number and returns an iterator containing all even numbers between 0 and the number you passed to the generator.

In [1]:
def even_iterator(n):
     number = 0
     while number < n:
         number % 2 == 0 
         yield number
         number = number + 2
    # This function produces an iterator containing all even numbers between 0 and n
    # Input: integer
    # Output: iterator
    
    # Sample Input: 5
    # Sample Output: iter([0, 2, 4])
    
    # Your code here:
iterator = even_iterator(5)

for i in iterator:
    print(i)

0
2
4

# Challenge 2 - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

First, let's load a dataset. We will download the famous Iris classification dataset in the cell below.

In [4]:
columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width','iris_type']
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", names=columns)

Let's look at the dataset using the `head` function.

In [5]:
# Your code here:
iris.head(5)

   sepal_length  sepal_width  petal_length  petal_width    iris_type
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Let's start off by using built-in functions. Try to apply the numpy mean function and describe what happens in the comments of the code.

In [7]:
# Your code here:
np.mean(iris, axis=0)
#indicating axis=0, the function shows the column mean for numeric data

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

Next, we'll apply the standard deviation function in numpy (`np.std`). Describe what happened in the comments.

In [8]:
# Your code here:
np.std(iris,axis=0)
#indicating axis=0, the function shows the column standard deviation for numeric data

sepal_length    0.825301
sepal_width     0.432147
petal_length    1.758529
petal_width     0.760613
dtype: float64

The measurements are in centimeters. Let's convert them all to inches. First, we will create a dataframe that contains only the numeric columns. Assign this new dataframe to `iris_numeric`.

In [20]:
# Your code here:
def poptable(iris):
    numeric = iris._get_numeric_data()
#     #._get_numberic_data() is a global function
    poptabl = pd.DataFrame(numeric)
#     #creating pd frame at the same time and mentioning what would go in it
#     #what are we naming the columns 
    return poptabl
iris_numeric = poptable(iris)
print(iris_numeric.head(5))

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

Next, we will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [24]:
def cm_to_in(x):
    b = x * .393701
    return b


    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    # Your code here:

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [37]:
# Your code here:
iris_inch = pd.DataFrame(cm_to_in(iris_numeric))
#iris_inch['sepal_length']=iris_numeric['sepal_length']*.393701
#iris_inch['sepal_width']=iris_numeric['sepal_width']*.393701
#iris_inch['petal_length']=iris_numeric['petal_length']*.393701
#iris_inch['petal_width']=iris_numeric['petal_width']*.393701

In [38]:
iris_inch

     sepal_length  sepal_width  petal_length  petal_width
0        5.100003     3.500002      1.400001     0.200000
1        4.900003     3.000002      1.400001     0.200000
2        4.700003     3.200002      1.300001     0.200000
3        4.600002     3.100002      1.500001     0.200000
4        5.000003     3.600002      1.400001     0.200000
5        5.400003     3.900002      1.700001     0.400000
6        4.600002     3.400002      1.400001     0.300000
7        5.000003     3.400002      1.500001     0.200000
8        4.400002     2.900002      1.400001     0.200000
9        4.900003     3.100002      1.500001     0.100000
10       5.400003     3.700002      1.500001     0.200000
11       4.800003     3.400002      1.600001     0.200000
12       4.800003     3.000002      1.400001     0.100000
13       4.300002     3.000002      1.100001     0.100000
14       5.800003     4.000002      1.200001     0.200000
15       5.700003     4.400002      1.500001     0.400000
16       5.400003     3.900002      1.300001     0.400000
17       5.100003     3.500002      1.400001     0.300000
18       5.700003     3.800002      1.700001     0.300000
19       5.100003     3.800002      1.500001     0.300000
20       5.400003     3.400002      1.700001     0.200000
21       5.100003     3.700002      1.500001     0.400000
22       4.600002     3.600002      1.000001     0.200000
23       5.100003     3.300002      1.700001     0.500000
24       4.800003     3.400002      1.900001     0.200000
25       5.000003     3.000002      1.600001     0.200000
26       5.000003     3.400002      1.600001     0.400000
27       5.200003     3.500002      1.500001     0.200000
28       5.200003     3.400002      1.400001     0.200000
29       4.700003     3.200002      1.600001     0.200000
..            ...          ...           ...          ...
120      6.900004     3.200002      5.700003     2.300001
121      5.600003     2.800002      4.900003     2.000001
122      7.700004     2.800002      6.700004     2.000001
123      6.300003     2.700001      4.900003     1.800001
124      6.700004     3.300002      5.700003     2.100001
125      7.200004     3.200002      6.000003     1.800001
126      6.200003     2.800002      4.800003     1.800001
127      6.100003     3.000002      4.900003     1.800001
128      6.400003     2.800002      5.600003     2.100001
129      7.200004     3.000002      5.800003     1.600001
130      7.400004     2.800002      6.100003     1.900001
131      7.900004     3.800002      6.400003     2.000001
132      6.400003     2.800002      5.600003     2.200001
133      6.300003     2.800002      5.100003     1.500001
134      6.100003     2.600001      5.600003     1.400001
135      7.700004     3.000002      6.100003     2.300001
136      6.300003     3.400002      5.600003     2.400001
137      6.400003     3.100002      5.500003     1.800001
138      6.000003     3.000002      4.800003     1.800001
139      6.900004     3.100002      5.400003     2.100001
140      6.700004     3.100002      5.600003     2.400001
141      6.900004     3.100002      5.100003     2.300001
142      5.800003     2.700001      5.100003     1.900001
143      6.800004     3.200002      5.900003     2.300001
144      6.700004     3.300002      5.700003     2.500001
145      6.700004     3.000002      5.200003     2.300001
146      6.300003     2.500001      5.000003     1.900001
147      6.500004     3.000002      5.200003     2.000001
148      6.200003     3.400002      5.400003     2.300001
149      5.900003     3.000002      5.100003     1.800001

[150 rows x 4 columns]

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [42]:
# Define constant below:
error=2
iris_constant = pd.DataFrame()

def add_constant(x):
    e = x+error
    return e
    # This function adds a global constant to our input.
#iris_inch = pd.DataFrame(cm_to_in(iris_numeric))
    # Input: numeric value
    # Output: numeric value
    
    # Your code here:
iris_constant = pd.DataFrame(add_constant(iris_numeric))   
iris_constant

     sepal_length  sepal_width  petal_length  petal_width
0        4.007875     3.377954      2.551181     2.078740
1        3.929135     3.181103      2.551181     2.078740
2        3.850395     3.259843      2.511811     2.078740
3        3.811025     3.220473      2.590552     2.078740
4        3.968505     3.417324      2.551181     2.078740
5        4.125985     3.535434      2.669292     2.157480
6        3.811025     3.338583      2.551181     2.118110
7        3.968505     3.338583      2.590552     2.078740
8        3.732284     3.141733      2.551181     2.078740
9        3.929135     3.220473      2.590552     2.039370
10       4.125985     3.456694      2.590552     2.078740
11       3.889765     3.338583      2.629922     2.078740
12       3.889765     3.181103      2.551181     2.039370
13       3.692914     3.181103      2.433071     2.039370
14       4.283466     3.574804      2.472441     2.078740
15       4.244096     3.732284      2.590552     2.157480
16       4.125985     3.535434      2.511811     2.157480
17       4.007875     3.377954      2.551181     2.118110
18       4.244096     3.496064      2.669292     2.118110
19       4.007875     3.496064      2.590552     2.118110
20       4.125985     3.338583      2.669292     2.078740
21       4.007875     3.456694      2.590552     2.157480
22       3.811025     3.417324      2.393701     2.078740
23       4.007875     3.299213      2.669292     2.196851
24       3.889765     3.338583      2.748032     2.078740
25       3.968505     3.181103      2.629922     2.078740
26       3.968505     3.338583      2.629922     2.157480
27       4.047245     3.377954      2.590552     2.078740
28       4.047245     3.338583      2.551181     2.078740
29       3.850395     3.259843      2.629922     2.078740
..            ...          ...           ...          ...
120      4.716537     3.259843      4.244096     2.905512
121      4.204726     3.102363      3.929135     2.787402
122      5.031498     3.102363      4.637797     2.787402
123      4.480316     3.062993      3.929135     2.708662
124      4.637797     3.299213      4.244096     2.826772
125      4.834647     3.259843      4.362206     2.708662
126      4.440946     3.102363      3.889765     2.708662
127      4.401576     3.181103      3.929135     2.708662
128      4.519686     3.102363      4.204726     2.826772
129      4.834647     3.181103      4.283466     2.629922
130      4.913387     3.102363      4.401576     2.748032
131      5.110238     3.496064      4.519686     2.787402
132      4.519686     3.102363      4.204726     2.866142
133      4.480316     3.102363      4.007875     2.590552
134      4.401576     3.023623      4.204726     2.551181
135      5.031498     3.181103      4.401576     2.905512
136      4.480316     3.338583      4.204726     2.944882
137      4.519686     3.220473      4.165356     2.708662
138      4.362206     3.181103      3.889765     2.708662
139      4.716537     3.220473      4.125985     2.826772
140      4.637797     3.220473      4.204726     2.944882
141      4.716537     3.220473      4.007875     2.905512
142      4.283466     3.062993      4.007875     2.748032
143      4.677167     3.259843      4.322836     2.905512
144      4.637797     3.299213      4.244096     2.984253
145      4.637797     3.181103      4.047245     2.905512
146      4.480316     2.984253      3.968505     2.748032
147      4.559057     3.181103      4.047245     2.787402
148      4.440946     3.338583      4.125985     2.905512
149      4.322836     3.181103      4.007875     2.708662

[150 rows x 4 columns]

# Bonus Challenge - Applying Functions to Columns

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [ ]:
# Your code here:

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [ ]:
# Your code here: